<!--Topside-->
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        Information
                    </div>
                    <div class="card-body">
                        <marquee behavior="" direction="left">
                            <h3 class="my-4"> Sales & Inventory Data</h3>
                        </marquee>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        Statistics
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <a class="text-decoration-none text-dark" href="{% url 'dashboard-staff' %}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>Staff </h4>
                                         <i class="fas fa-users"></i>
                                        <h3>{{ workers_count }}</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a class="text-decoration-none text-dark" href="{% url 'dashboard-product' %}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>Products</h4>
                                        <i class="fab fa-product-hunt"></i>
                                        <h3>{{ product_count }}</h3>
                                    </div>
                                </a>
                            </div>
                             <div class="col-md-3">
                                <a class="text-decoration-none text-dark" href="{% url 'dashboard-supplier' %}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>Suppliers</h4>
                                         <i class="fas fa-box"></i>
                                        <h3>{{ clients_count }}</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a class="text-decoration-none text-dark" href="{% url 'dashboard-order' %}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>Orders</h4>
                                         <i class="fas fa-shipping-fast"></i>
                                        <h3>{{ orders_count }}</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Topside-->