{% extends 'partials/base.html' %}
{% block title %}Supplier Page {% endblock %}

{% block content %}
     {% include 'partials/topnav.html' %}
  <!--Table-->
{% load crispy_forms_tags %}
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">
             <div class="card">
                <div class="card-header">
                    Add Suppliers
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-info btn-block" type="submit" value="Add Supplier">
                    </form>
                </div>
            </div>
            </div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">

                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Company</th>
                             <th scope="col">Activity</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for client in clients %}
                        <tr>

                           <td>{{ client.name }}</td>
                           <td>{{ client.category }}</td>
                           <td>{{ client.quantity }}</td>
                           <td>{{ client.company }}</td>
                        <td> <a class="btn btn-danger btn-sm" href="{% url 'dashboard-supplier-delete' client.id %}">Delete</a></td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>



    <!--End Table-->
{% endblock %}